<ion-header>
  <ion-toolbar color = "light">
    <ion-title>Add A New Recipe</ion-title>
    <ion-button color = "warning" href = "../home"><ion-icon name="arrow-back"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Recipe Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Preparation Time</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Cook Time</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Number of Servings</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Recipe Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-button color = "warning" >Add Recipe</ion-button>
</ion-content>
