<ion-header>
  <ion-toolbar>
    <ion-title>Instant Ramen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>

    <ion-slide> 
      <div>
    <img src="{{instant_ramen.imgPath}}" style ="height: 300px;width:300px;"/>

    <ion-list *ngFor="let instruction of instant_ramen.instructions">
      <ion-item (click)="showSuggestions()"> {{instruction}} </ion-item>
    </ion-list>
    </div>
  </ion-slide>

  <ion-slide>
    <div>
    <h1>Ingredients</h1>
      <ion-list *ngFor="let ingredient of instant_ramen.ingredients">
          <ion-item> {{ingredient}} </ion-item>
      </ion-list> 
    </div>
  </ion-slide>

</ion-slides>
</ion-content>
