<ion-header>
  <ion-toolbar>
    <ion-title>Chicken Pot Pie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>

    <ion-slide> 
      <div>
    <img src="{{deconstructed_chicken_pot_pie.imgPath}}" style ="height: 300px;width:300px;"/>

    <ion-list *ngFor="let instruction of deconstructed_chicken_pot_pie.instructions">
      <ion-item button (click)="showSuggestions()"> {{instruction}} </ion-item>
    </ion-list>
    </div>
  </ion-slide>

  <ion-slide>
    <div>
    <h1>Ingredients</h1>
      <ion-list *ngFor="let ingredient of deconstructed_chicken_pot_pie.ingredients">
          <ion-item button> {{ingredient}} </ion-item>
      </ion-list> 
    </div>
  </ion-slide>

</ion-slides>
</ion-content>
