<ion-content class="background">
  <div class="content">
    <div class="ion-padding">
        <ion-row>
        
            <ion-col fill="clear" style="font-size:small; color:#a8a8a8; margin-right: 10px; text-transform: none; font-family: 'Nunitoo, sans-serif;'"><p style="font-size: small; margin-top: 37.5px;">Enter your Email</p>
              
            </ion-col>
          </ion-row>
      <ion-input placeholder="Email" style="padding-left: 10px !important; font-family: 'Nunito', sans-serif;"></ion-input>
      </div>
    <ion-button class="actionbutton" fill="clear" expand="full" style="text-transform: none;"><b>Send</b></ion-button>
    <ion-button class="actionbutton" fill="clear" expand="full" style="text-transform: none;" routerLink="/login" routerDirection="root"><b>Login Page</b></ion-button>
    </div>
</ion-content>
