<body>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar text-center>
        <ion-title>Featured Recipes</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
                <ion-card button>
                   <img src = "{{deconstructed_chicken_pot_pie.imgPath}}" style ="height: 200px;width:200px;"/>
                    <ion-card-header>
                      <ion-card-title><a href = "../chicken-pot-pie"><span [innerHTML] = "deconstructed_chicken_pot_pie.name"></span></a></ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <span [innerHTML] = "deconstructed_chicken_pot_pie.description"></span>
                    </ion-card-content> 
                </ion-card>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-card button>
                  <img src = "{{pretzel.imgPath}}" style ="height: 200px;width:200px;"/>
                  <ion-card-header>
                    <ion-card-title>
                      <a href = "../pretzel"><span [innerHTML] = "pretzel.name"></span></a>
                    </ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    <span [innerHTML] = "pretzel.description" ></span>
                  </ion-card-content> 
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                  <ion-card button>
                      <img src = "{{eggs_benedict.imgPath}}" style ="height: 200px;width:200px;"/>
                      <ion-card-header>
                        <ion-card-title>
                          <a href = "../eggs-benedict"><span [innerHTML] = "eggs_benedict.name"></span></a>
                        </ion-card-title>
                      </ion-card-header>
                    
                      <ion-card-content>
                        <span [innerHTML] = "eggs_benedict.description" ></span>
                      </ion-card-content> 
                  </ion-card>
                </div>
              </ion-col>
              <ion-col>
                  <div>
                    <ion-card button>
                        <img src = "{{instant_ramen.imgPath}}" style ="height: 200px;width:200px;"/>
                        <ion-card-header>
                          <ion-card-title>
                            <a href = "../ramen"><span [innerHTML] = "instant_ramen.name"></span></a>
                          </ion-card-title>
                        </ion-card-header>
                      
                        <ion-card-content>
                          <span [innerHTML] = "instant_ramen.description" ></span>
                        </ion-card-content> 
                    </ion-card>
                  </div>
                </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                  <ion-card button>
                      <img src = "{{tuna_casserole.imgPath}}" style ="height: 200px;width:200px;"/>
                      <ion-card-header>
                        <ion-card-title>
                          <a href = "../tuna-casserole"><span [innerHTML] = "tuna_casserole.name"></span></a>
                        </ion-card-title>
                      </ion-card-header>
                    
                      <ion-card-content>
                        <span [innerHTML] = "tuna_casserole.description" ></span>
                      </ion-card-content> 
                  </ion-card>
                </div>
              </ion-col>
              <ion-col>
                  <div>
                    <ion-card button>
                        <img src = "{{moroccan_pastitsio.imgPath}}" style ="height: 200px;width:200px;"/>
                        <ion-card-header>
                          <ion-card-title>
                            <a href = "../moroccan-pastitsio"><span [innerHTML] = "moroccan_pastitsio.name"></span></a>
                          </ion-card-title>
                        </ion-card-header>
                      
                        <ion-card-content>
                          <span [innerHTML] = "moroccan_pastitsio.description" ></span>
                        </ion-card-content> 
                    </ion-card>
                  </div>
                </ion-col>
        </ion-row>
      </ion-grid>
      
      </ion-content>
  </ion-app>
</body>