<ion-header>
    <ion-title>
      Home
    </ion-title>
</ion-header>

<div class="ion-padding">
  <p>Click Recipe</p>
</div>


<ion-card>
    <img src = "assets/mr_bean.jpg" style ="height: 500px;width:500px;"/>

    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      mr bean mr bean mr bean mr bean mr bean mr bean
      mr bean mr bean mr bean
    </ion-card-content>  

</ion-card>