<body>
  <ion-app>
    <ion-header translucent>
      <ion-toolbar text-center color = "warning">
        <ion-title color = "warning">-</ion-title>
        <ion-searchbar text-left showCancelButton = "focus" placeholder = "Find a recipe!"></ion-searchbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color = "warning">
          -
        </ion-title>
      </ion-toolbar>
      <ion-toolbar text-center>
        <ion-title>Featured Recipes</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-menu side="start" menuId="first">
        <ion-header>
          <ion-toolbar color="light">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="star" slot="start"></ion-icon>
              <ion-label>Favorites</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="settings" slot="start"></ion-icon>
                <ion-label>Settings</ion-label>
              </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>

      <ion-router-outlet main></ion-router-outlet>

    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
                <ion-card color = "light" button href = "../chicken-pot-pie">
                   <img src = "{{deconstructedChickenPotPie.imgPath}}" style ="height: 200px;width:200px;"/>
                    <ion-card-header>
                      <ion-card-title><span [innerHTML] = "deconstructedChickenPotPie.name"></span></ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <span [innerHTML] = "deconstructedChickenPotPie.description"></span>
                    </ion-card-content> 
                </ion-card>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <ion-card color = "light" button href = "../pretzel">
                  <img src = "{{pretzel.imgPath}}" style ="height: 200px;width:200px;"/>
                  <ion-card-header>
                    <ion-card-title>
                      <span [innerHTML] = "pretzel.name"></span>
                    </ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    <span [innerHTML] = "pretzel.description" ></span>
                  </ion-card-content> 
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                  <ion-card color = "light" button href = "../eggs-benedict">
                      <img src = "{{eggsBenedict.imgPath}}" style ="height: 200px;width:200px;"/>
                      <ion-card-header>
                        <ion-card-title>
                          <span [innerHTML] = "eggsBenedict.name"></span>
                        </ion-card-title>
                      </ion-card-header>
                    
                      <ion-card-content>
                        <span [innerHTML] = "eggsBenedict.description" ></span>
                      </ion-card-content> 
                  </ion-card>
                </div>
              </ion-col>
              <ion-col>
                  <div>
                    <ion-card color = "light" button href = "../ramen">
                        <img src = "{{instantRamen.imgPath}}" style ="height: 200px;width:200px;"/>
                        <ion-card-header>
                          <ion-card-title>
                            <span [innerHTML] = "instantRamen.name"></span>
                          </ion-card-title>
                        </ion-card-header>
                      
                        <ion-card-content>
                          <span [innerHTML] = "instantRamen.description" ></span>
                        </ion-card-content> 
                    </ion-card>
                  </div>
                </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>
                  <ion-card color = "light" button href = "../tuna-casserole">
                      <img src = "{{tunaCasserole.imgPath}}" style ="height: 200px;width:200px;"/>
                      <ion-card-header>
                        <ion-card-title>
                          <span [innerHTML] = "tunaCasserole.name"></span>
                        </ion-card-title>
                      </ion-card-header>
                    
                      <ion-card-content>
                        <span [innerHTML] = "tunaCasserole.description" ></span>
                      </ion-card-content> 
                  </ion-card>
                </div>
              </ion-col>
              <ion-col>
                  <div>
                    <ion-card color = "light" button href = "../moroccan-pastitsio">
                        <img src = "{{moroccanPastitsio.imgPath}}" style ="height: 200px;width:200px;"/>
                        <ion-card-header>
                          <ion-card-title>
                            <span [innerHTML] = "moroccanPastitsio.name"></span>
                          </ion-card-title>
                        </ion-card-header>
                      
                        <ion-card-content>
                          <span [innerHTML] = "moroccanPastitsio.description" ></span>
                        </ion-card-content> 
                    </ion-card>
                  </div>
                </ion-col>
              </ion-row>
                <ion-row>
                  <ion-col>
                      <div>
                        <ion-card color = "light" button href = "../cheesecake">
                            <img src = "{{cheesecake.imgPath}}" style ="height: 200px;width:200px;"/>
                            <ion-card-header>
                              <ion-card-title>
                                <span [innerHTML] = "cheesecake.name"></span>
                              </ion-card-title>
                            </ion-card-header>
                          
                            <ion-card-content>
                              <span [innerHTML] = "cheesecake.description" ></span>
                            </ion-card-content> 
                        </ion-card>
                      </div>
                    </ion-col>
                    <ion-col>
                      <div>
                        <ion-card color = "light" button href = "../quesillo">
                            <img src = "{{quesillo.imgPath}}" style ="height: 200px;width:200px;"/>
                            <ion-card-header>
                              <ion-card-title>
                                <span [innerHTML] = "quesillo.name"></span>
                              </ion-card-title>
                            </ion-card-header>
                          
                            <ion-card-content>
                              <span [innerHTML] = "quesillo.description" ></span>
                            </ion-card-content> 
                        </ion-card>
                      </div>
                    </ion-col>

        </ion-row>
      </ion-grid>
      
    </ion-content>
  </ion-app>
</body>